@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

.navbar-fixed {
    @apply fixed z-[49] bg-gray-600 bg-opacity-70;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

/***** Hamburger *****/
.hamburger-line {
    @apply my-2 block h-[2px] w-[30px] bg-black;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

#toggle:checked ~ label div.toggle-circle {
    @apply translate-x-3;
}

/***** Back to top *****/
#backtotopp {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #65a30d;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
